
.root{

}

.Vbox{
    -fx-background-color: #F0EBE6;
}

.button2{
    -fx-text-fill: rgb(10,10,10);
    -fx-font: bold 12pt "Arial";
    -fx-background-radius: 10;
    -fx-focus-color:rgb(0, 83, 62);
}

.text-field{
    -fx-text-fill: rgb(0,0,0);
    -fx-background-radius: 10;
    -fx-focus-color:rgb(0, 83, 62);
}

.combo-box{
    -fx-font: bold 12pt "Arial";
    -fx-background-radius: 10;
    -fx-focus-color:rgb(0, 83, 62);
}

.title{
    -fx-font: bold 20pt "Arial" ;
    -fx-fill: rgb(0, 83, 62);
}




.button{
    -fx-text-fill: rgb(255,255,255);
    -fx-font: bold 12pt "Arial";
    -fx-background-color:rgb(0, 83, 62);
    -fx-border-color:rgb(255, 199, 38);
    -fx-background-radius: 10;
    -fx-border-width: 1.5;
    -fx-border-radius: 9;
    -fx-focus-color:rgb(0, 0, 0);
}

.button:hover{
    -fx-text-fill: rgb(0,0,0);
    -fx-font: bold 12pt "Arial";
    -fx-background-color:rgb(255, 199, 38);
    -fx-border-color:rgb(255, 199, 38);
    -fx-background-radius: 10;
    -fx-border-width: 1.5;
    -fx-border-radius: 9;
    -fx-focus-color:rgb(0, 0, 0);
}